---
const { image, title, description, price } = Astro.props;
---

<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Waterfall&display=swap" rel="stylesheet">
</head>

<div class="card">
  <img src={image} alt={title} class="card-img"/>
  <div class="card-content">
    <div class="title-price">
      <h3 class="title">{title}</h3>
      <p class="price">S/ {price.toFixed(2)}</p>
    </div>
    <p class="description">{description}</p>
  </div>
</div>

<style>
.card {
  width: 450px;
  background: #FFF;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  transition: all 0.3s ease-in-out;
  min-height: 550px; 
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-content {
  padding: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Waterfall', cursive;
  min-height: 70px; 
  margin-bottom: 0.5rem;
}

.title {
  font-size: 38px;
  color: #5e3023;
  margin: 0;
  font-weight: bold;
  flex-grow: 1; 
  display: flex;
  align-items: center;
}

.price {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #5e3023; 
  margin: 0;
}

.description {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-top: 0;
  flex-grow: 1;
  display: block;
  word-wrap: break-word;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .title-price {
    min-height: 60px;
  }

  .title {
    font-size: 28px;
  }

  .price {
    font-size: 20px;
  }

  .description {
    font-size: 16px;
  }
}

</style>
