  ---
  const { image, title, description, price, price_whole } = Astro.props;
  ---

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Waterfall&display=swap" rel="stylesheet">
  </head>

  <div class="card">
    <img src={image} alt={title} class="card-img"/>
    <div class="card-content">
      <div class="title-price">
        <h3 class="title">{title}</h3>
      </div>
      <p class="description">{description}</p>
      <div class="prices-container">
        <p class="price">Unidad: S/{price.toFixed(2)}</p>
              {price_whole !== null && price_whole !== undefined && (
                <p class="price-whole">Completa: S/ {price_whole.toFixed(2)}</p>
              )}
      </div>
      
    </div>
  </div>

  <style>
.card {
  width: 100%; 
  max-width: 450px; 
  background: #FFF;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  transition: all 0.3s ease-in-out;
  min-height: 550px; 
}


.card-img {
  width: 100%;
  height: auto; 
  max-height: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-content {
  padding: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.title-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Waterfall', cursive;
  min-height: 70px;
  padding: 0 5%;
}

.title {
  font-size: 500;
  color: #5e3023;
  margin: 0;
  font-weight: bold;
  flex-grow: 2;
  display: flex;
  align-items: left;
}

.price, .price-whole {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  color: #5e3023;
  margin: 0;
  padding: 0 5%;
}

.description {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-top: 0;
  flex-grow: 1;
  display: flex;
  word-wrap: break-word;
  overflow: hidden;
  padding-left:0;
  padding-right:0;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .card {
    min-height: 450px;
    width:300px;
  }

  .card-img {
    max-height: 200px; 
  }

  .title {
    font-size: 28px; 
  }

  .price {
    font-size: 20px;
  }

  .description {
    font-size: 16px;
  }
}

/* Media query para celulares con ancho de 360px */
@media (min-width: 360px) and (max-width: 767px) {
  .description {
    margin-bottom: 30px;
  }

  .title {
    font-size: 35px;
  }
}

@media (min-width: 390px) and (max-width: 429px) {
  .card {
    margin-left: 15px;
  }
}

@media (min-width: 430px) and (max-width: 767px) {
  .card {
    margin-left: 10px;
  }
}

/* Media query para pantallas medianas */
@media (min-width: 768px) and (max-width: 1023px) {
  .description {
    margin-bottom: 30px;
    font-size: 16px;
  }

  .title {
    font-size: 35px;
  }
}

  </style>
